header 
{
    background: #f4f4f4;
    text-align: center;
    height: auto;
    min-height: 100px;
    @include flex($dir: row);

    img 
    {
        max-width: 96px;
    }
    h1 
    {
        font-size: 2.5em;
        margin-left: 20px;
    }
}