@media screen and (max-width:750px)
{
    header
    {
        @include flex;

        img
        {
            margin-top: 20px;
        }
        h1 
        {
            margin-bottom: 20px;
        }
    }

    #crewMembers
    {
        .success
        {
            text-align: center;
        }
    }
}
// -----------------------------------
@media screen and (max-width:370px)
{
    header
    {
        img
        {
            margin-top: 20px;
        }
        h1 
        {
            font-size: 2em;
        }
    }
    main 
    {
        #addArgo
        {
            form 
            {      
                ul
                {
                    width: 250px;
                    text-align: center;
                    right: 0px;
                    top: 50px;
                }
            }
        }
    }
}