main 
{
    max-width: 1200px;
    margin: 0 auto;
    min-height: calc(100vh - 198px);

    button 
    {
        cursor: pointer;
    }

    // New member form
    #addArgo
    {
        @include flex;
        
        h2 
        {
            margin-top: 40px;
        }
        form 
        {
            @include flex($align: flex-end, $dir: row);
            margin-top: 40px;
            margin-bottom: 40px;
            position: relative;
            
            ul
            {
                top: 55px;
                right: -75px;
                position: absolute;
                width: 350px;
            }
            button 
            {
                margin-left: 10px;
            }
            
            label 
            {
                display: block;
                margin-bottom: 5px;
                text-align: center;
            } 
            .new-member-form 
            {
                margin: 2em 0 4em 0;
                text-align: center;
            }
        }
    }
    // Member list
    #crewMembers
    {
        @include flex;
        position: relative;

        .success
        {
            top: 45px;
            position: absolute ;
        }
        #listmembers
        {
            @include flex($dir: row);
            width: 100%;
            margin-top: 60px;
            
            .card
            {
                @include flex;
                width: 300px;
                height: auto;
                min-height: 50px;
                background-color:$orange;
                margin: 0px 49px 40px 49px;
                border-radius: 10px;
                text-transform: uppercase;
                position: relative;

                .trash 
                {
                    display: none;
                }

                &:hover
                {
                    
                    .trash
                    {
                        display: block;
                        background-color: $orange;
                        border: none;
                        position: absolute;
                        right: 10px;
                        bottom: 5px;
                    }
                }

            }
        }
    }
}