main 
{
    max-width: 1200px;
    margin: 0 auto;
    min-height: calc(100vh - 198px);

    button 
    {
        cursor: pointer;
    }

    // New member form
    #addArgo
    {
        @include flex;
        
        h2 
        {
            margin-top: 40px;
        }
        form 
        {
            @include flex($align: flex-end, $dir: row);
            margin-top: 40px;
            margin-bottom: 40px;
            position: relative;
            
            ul
            {
                top: 55px;
                right: -75px;
                position: absolute;
                width: 350px;
            }
            button 
            {
                margin-left: 10px;
                margin-bottom: 3px;
                width: 6em;
                background-color: transparent;
                border: 1px solid black;
                background-color: transparent;
                height: 1.5em;
                border-radius: 25px;
                position: relative;
                transition: all 1ms linear;
                box-shadow: 1px 2px 0px 0px  rgb(73, 73, 73);
                z-index: 2;
                
                &:active
                {
                    top: 2px;
                    left: 3px;
                    box-shadow: 0px 0px 0px 0px;
                    border: 1px solid black;
                }
                &:hover
                {
                    
                    cursor: pointer;
                }
                &:focus {outline: none}
            }
            
            label 
            {
                display: block;
                margin-bottom: 5px;
                text-align: center;
            } 
            input
            {   
                border-radius: 5px;
                border: 1px solid black;
                box-shadow: 1px 2px 0px 0px  rgb(73, 73, 73);
                height: 25px;
                
                &:focus 
                {
                    outline: none
                }
            }
        }
    }
    // Member list
    #crewMembers
    {
        @include flex;
        position: relative;

        .success
        {
            top: 45px;
            position: absolute ;
        }
        #listmembers
        {
            @include flex($dir: row);
            width: 100%;
            margin-top: 60px;
            
            .card
            {
                @include flex;
                width: 300px;
                height: auto;
                min-height: 50px;
                background-color:$orange;
                margin: 0px 49px 40px 49px;
                border-radius: 10px;
                text-transform: uppercase;
                position: relative;
                transition: all 0.3s ease-out;
                
                >p
                {
                    pointer-events: none;
                }
                .trash 
                {
                    display: none;
                }
                
                &:hover
                {
                    box-shadow: 0px 8px 16px 3px rgba( #000, .6 );
                    transform: translateY( -3px ), scale( 1.05 ) ,rotateX( 15deg);
                    
                    .trash
                    {
                        transition: all 0.3s ease-out;
                        display: block;
                        background-color: $orange;
                        border: none;
                        position: absolute;
                        right: 10px;
                        bottom: 5px;
                    }
                }
                
            }
        }
    }
    // Argonaute counter 
    #counter
    {
        overflow: hidden;
        @include flex($dir: row);
        position: absolute;
        top: 120px ;
        right: 400px;
        width: 150px;
        height: 150px;

        .circle
        {
            position: relative;
            @include flex;
            .count
            {
                margin-right: 5px;
                margin-left: 5px;
                font-size: 2.5em;
            }
        }
        .circleTxt
        {
            position: absolute;
            user-select: none;
            pointer-events: none;
            animation: turn 40s linear infinite;

            span
            {
                position: absolute;
                top: -55px;
                text-transform: uppercase;
                display: inline-block;
                transform-origin: 0 55px;
            }
        }
    }
    @keyframes turn
    {
        0%
        {
            transform: rotate(0deg);
        }
        100%
        {
            transform: rotate(360deg);
        }
    }
}