@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  background: #f4f4f4;
  text-align: center;
  height: auto;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
header img {
  max-width: 96px;
}
header h1 {
  font-size: 2.5em;
  margin-left: 20px;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  min-height: calc(100vh - 198px);
}
main button {
  cursor: pointer;
}
main #addArgo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
main #addArgo h2 {
  margin-top: 40px;
}
main #addArgo form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
}
main #addArgo form ul {
  top: 55px;
  right: -75px;
  position: absolute;
  width: 350px;
}
main #addArgo form button {
  margin-left: 10px;
}
main #addArgo form label {
  display: block;
  margin-bottom: 5px;
  text-align: center;
}
main #addArgo form .new-member-form {
  margin: 2em 0 4em 0;
  text-align: center;
}
main #crewMembers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}
main #crewMembers .success {
  top: 45px;
  position: absolute;
}
main #crewMembers #listmembers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 60px;
}
main #crewMembers #listmembers .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;
  height: auto;
  min-height: 50px;
  background-color: #f76c6c;
  margin: 0px 49px 40px 49px;
  border-radius: 10px;
  text-transform: uppercase;
  position: relative;
}
main #crewMembers #listmembers .card .trash {
  display: none;
}
main #crewMembers #listmembers .card:hover .trash {
  display: block;
  background-color: #f76c6c;
  border: none;
  position: absolute;
  right: 10px;
  bottom: 5px;
}

footer {
  margin-top: 40px;
  text-align: center;
  color: #fff;
  background: #f76c6c;
  padding: 0.25em 0;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  bottom: 0px;
  position: relative;
}

@media screen and (max-width: 750px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  header img {
    margin-top: 20px;
  }
  header h1 {
    margin-bottom: 20px;
  }

  #crewMembers .success {
    text-align: center;
  }
}
@media screen and (max-width: 370px) {
  header img {
    margin-top: 20px;
  }
  header h1 {
    font-size: 2em;
  }

  main #addArgo form ul {
    width: 250px;
    text-align: center;
    right: 0px;
    top: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
